<div class="navbar">
  <mat-toolbar color="primary">
    <span>Time tracker special 4 Ilya</span>
    <span class="example-spacer"></span>
    <button mat-button class="mla">Выйти</button>
  </mat-toolbar>

</div>

<div class="container mt-2">
  <div class="row">
    <div class="col">
      <app-time-table-component></app-time-table-component>
    </div>
    <div class="col">
      <app-time-player-component></app-time-player-component>
    </div>
    <div class="col">

    </div>
    <div class="col"></div>
  </div>
</div>
