.container {
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
}

.mla {
  margin-left: auto;
}

.mt-2 {
  margin-top: 2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col {
  width: calc(50% - 30px);
  padding: 0 15px;
}
