<div class="wrap">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="text">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Repeat the password</mat-label>
      <input matInput type="password">
    </mat-form-field>
  </div>
  <div class="button-center">
    <button mat-raised-button color="primary">Войти</button>
  </div>

</div>
