table {
  width: 100%;
}

.top_flex {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 1rem;
}

.table_mb {
  margin-bottom: 2rem;
}

.center {
  display: flex;
  justify-content: center;
}
