<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="wrap"
>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        formControlName="email"
        [ngClass]="{invalid: form.get('email').invalid && form.get('email').touched}"
      >
    </mat-form-field>
  </div>
  <div class="mb">
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        formControlName="password"
        matInput
        type="password"
        [ngClass]="{invalid: form.get('password').invalid && form.get('password').touched}"
      >
    </mat-form-field>
  </div>
  <div class="button-center">
    <button mat-raised-button color="primary" type="submit">Войти</button>
  </div>
</form>
