<div class="wrap">
  <h1>Про приложение</h1>
  <p>Сделано для портфолио, а также для того, чтобы облегчить мне жизнь при почасовой работе</p>
  <p>Вдохновился приложением <a href="https://www.timedoctor.com/ru/">Time Doctor</a></p>
  <p>Приложение сделано при помощи
    <a target="_blank" href="https://cutt.ly/ljyxrBf">MEAN</a>
    стека и
    <a href="https://material.angular.io/">Angular Material</a>
  </p>

  <p>Планируется добавить:</p>

  <ul>
    <li>
      Добавить систему проектов
      <ul>
        <li>Работодатель может приглашать рабочего на проект</li>
        <li>Рабочий может приходить\покидать проект</li>
        <li>На главной рабочий может выбирать проект</li>
      </ul>
    </li>
    <li>
      Кабинет настроек
      <ul>
        <li>Изменение имени</li>
        <li>Добавление\удаление места работы</li>
        <li>Изменение статуса - работодатель\рабочий</li>
        <li>Изменение темы приложения</li>
        <li>Адаптив</li>
      </ul>
    </li>
    <li>
      Кабинет работодателя
      <ul>
        <li>Статистика</li>
        <li>Подчинённые</li>
      </ul>
    </li>
    <li>
      Авторизация - редизайн
    </li>
    <li>
      Защита - только рабочий и его работадетель может просматривать кол-во проработаных часов
    </li>
    <li>
      Подключить <a href="https://trello.com/ru">Trello</a> api
    </li>
  </ul>

  <p class="links">
    <a href="https://github.com/Mrfuzzybot">GitHub</a>
    <a href="https://t.me/kerillsm">Telegram</a>
  </p>

  <p>Time tracker v0.0.1. Девелопед бай Кирилл Смирнов. Насин райтс резервд</p>
</div>
