<div class="wrap">
  <h1>Про приложение</h1>
  <p>Сделано для портфолио, а также для того, чтобы облегчить мне жизнь при почасовой работе</p>
  <p>Вдохновился приложением <a href="https://www.timedoctor.com/ru/">Time Doctor</a></p>
  <p>Приложение сделано при помощи
    <a target="_blank" href="https://cutt.ly/ljyxrBf">MEAN</a>
    стека и
    <a href="https://material.angular.io/">Angular Material</a>
  </p>

  <p>Девелопед бай Кирилл Смирнов</p>

  <div class="links">
    <a href="https://github.com/Mrfuzzybot">GitHub</a>
    <a href="https://t.me/kerillsm">Telegram</a>
  </div>
</div>
